VITE_SUPABASE_URL=https://koxzzzkfeailgzzpvolj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtveHp6emtmZWFpbGd6enB2b2xqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2MDYzODksImV4cCI6MjA5ODE4MjM4OX0.DRoFpDWsZV2_FFcdiv-j5i81m9Udrr8ZRNSFuvbnl4Q